{% extends 'layout.html' %}
{% block title %} Ban appeal {% endblock %}
{% block body %}
<div class="card text-black bg-light">
    <div class="card-body">
        {% if db == true %}
        You have already submitted an appeal. You should receive a response at your email address: {{ email }} soon.
        {% else %}
        <form id="register-form" class="ui form" lpformnum="1" _lpchecked="1" role="form" method="post"
              action="{{ url_for('request_banappeal') }}"
              accept-charset="UTF-8">
            <h2>To start the ban appeal process, you will have to answer the
                following questions truthfully.
                <br>
                Please note that any lies or dishonesty will result in immediate
                denial of your appeal.
            </h2>
            <div class="field">
                <label>List <b>any and all</b> other accounts you have used or created:</label>
                <textarea class="form-control" rows="3" name="q1" required>{{ fields.q1 }}</textarea>
            </div>
            <div class="field">
                <label>Is this your <b>first</b> time being restricted:</label>
                <select name="q2" class="ui compact selection dropdown">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div class="field">
                <label>If this <b>isn't</b> your first time being restricted, why were you restricted in the
                    past:</label>
                <textarea class="form-control" rows="3" name="q3" required>{{ fields.q3 }}</textarea>
            </div>
            <div class="field">
                <label>Let us know what caused your most <b>recent</b> restriction/ban:</label>
                <textarea class="form-control" rows="3" name="q4" required>{{ fields.q4 }}</textarea>
            </div>
            <div class="field">
                <label>Why should we allow you back into Ripple? (3-6 sentences):</label>
                <textarea class="form-control" rows="3" name="q5" required>{{ fields.q5 }}</textarea>
            </div>
            <div class="field">
                <label>Write <b>1-2 paragraphs</b> (6-12 sentences) about how if we let you back into Ripple, you
                    won't break anymore rules:</label>
                <textarea class="form-control" rows="3" name="q6" required>{{ fields.q6 }}</textarea>
            </div>
            <input type="submit" class="ui primary button" value="Send">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}