{% extends 'layout.html' %}
{% block title %} Welcome to Ripple Support {% endblock %}
{% block body %}
<div class="card text-black bg-light">
     <div class="ui center aligned"><center><img src="/static/img/logo-pink-dark.svg"></center></div>
    <div class="card-body">
        <blockquote class="card-blockquote">
            <h1>Welcome to Ripple Support, {{ user }}!</h1>
            <p>Here you can open up a ticket if you have any account related issues such as <a href="{{ url_for('request_namechange') }}">name change</a> 
                requests, <a href="/">flag change</a> requests or <a href="{{ url_for('request_banappeal') }}">restriction appeals</a>.
                With the increasing amount of support emails that come in, it ultimately became hard to keep track of each individual's tickets. 
                Therefore we've designed this system to make sure no ticket gets left unnoticed.</p>

            <p>As stated before you can send in a ticket for a various amount of things including: </p>
            <ul>
                <li><a href="{{ url_for('request_namechange') }}">Name Changes</a></li>
                <li><a href="/">Flag Changes</a></li>
                <li><a href="{{ url_for('request_banappeal') }}">Restriction Appeals</a></li>
            </ul>

            <p>If you have any questions or concerns that aren't related to the above, feel free to send us an email,
                and we will get back to you as soon as possible. You can reach us at <a href="mailto:support@ripple.moe">support@ripple.moe</a>.</p>

            <br/>
            <a href="mailto:support@ripple.moe" class="ui primary button">Email Support</a>
        </blockquote>
    </div>
</div>
{% endblock %}
