{% extends 'layout.html' %}
{% block title %} Welcome to Ripple Support {% endblock %}
{% block body %}
<div class="card text-black bg-light">
    <div class="card-body">
        <blockquote class="card-blockquote">
            <h2>Welcome to Ripple Support.</h2>
            <p>If you have any account related issues such as <a href="/namechange">name change</a> requests, 
                <a href=""flag change</a> requests or <a href="">restriction appeals</a>, this is the place to do it. 
                If you have any other questions that are unrelated to appeals or name/flag change requests,
                send us an email at <a href="mailto:support@ripple.moe">support@ripple.moe</a></p>
        </blockquote>
    </div>
</div>
{% endblock %}
