<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ripple Support</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="Daniel Dimitrov">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename=rtheme.css) }}">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/ripple.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}"/>
</head>
<body class="{{ rtheme.theme }}">
<div class="ui full height main wrapper">
    <div class="ui secondary fixed-height stackable white background main menu no margin bottom" id="navbar">
        <div class="ui container">
            <div class="item">
                <b><a href="/" title="Home page"><img class="ripple logo"
                                                      src="https://ripple.moe/static/logos/text-{{ rtheme.logo }}.png"
                                                      alt="Ripple"></a></b>
            </div>
        </div>
    </div>
    <div class="huge heading  dropped" style="background-image: url('{{ url_for('static', filename='img/bg.jpg') }}');">
        <h1>{% block title %}{% endblock %}</h1>
    </div>
    <div class="tiny container">
        <div class="ui center aligned segment">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>