<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Better RAP - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="Daniel Dimitrov">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='img/eggplant.png') }}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">Better RAP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarColor01" aria-controls="navbarColor01"
                aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manage name changes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manage appeals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ripple_logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>