<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ripple Support - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="Daniel Dimitrov">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename=rtheme.css) }}">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/ripple.css') }}">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/transition.min.css') }}">
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='img/apple-touch-icon.png') }}"/>
</head>
<body {% if rtheme.theme=="ds" %}class="ds"{% endif %}>
<div class="ui full height main wrapper">
    <div class="ui secondary fixed-height stackable white background main menu no margin bottom" id="navbar">
        <div class="ui container">
            <div class="item">
                <b><a href="/" title="Home page"><img class="ripple logo"
                                                      src="https://ripple.moe/static/logos/text-{{ rtheme.logo }}.png"
                                                      alt="Ripple"></a></b>
            </div>
            <a class="item" href="{{ url_for('home') }}">Home</a>
            {% if user_privilege.perm >= 1 %}
            <a class="item" href="{{ url_for('request_namechange') }}">Name Change Request</a>
            <!--<a class="item" href="#">Flag change</a>-->
            {% endif %}
            {% if user_privilege.perm == 0 %}
            <a class="item" href="{{ url_for('request_banappeal') }}">Restriction Appeal</a>
            {% endif %}
            <div class="firetrucking-right-menu">
                {% if user_privilege.perm > 1 %}
                <div class="ui dropdown item">
                    <span><strong>BetterRAP</strong></span>
                    <div class="menu">
                        {% if user_privilege.perm >= 2 %}
                        <a class="item" href="{{ url_for('manage_usernamechanges') }}">Manage Name Changes</a>
                        {% endif %}
                        {% if user_privilege.perm >= 3 %}
                        <a class="item" href="{{ url_for('manage_banappeals') }}">Manage Appeals</a>
                        <a class="item" href="{{ url_for('logs') }}">Admin Logs</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="ui dropdown item">
                    <span><img class="ui avatar image"
                               src="https://a.ripple.moe/{{ user.id }}"> {{ user.username }}</span>
                    <div class="menu">
                        <a class="item">{{ user_privilege.badge }}</a>
                        <a class="item" href="{{ url_for('ripple_logout') }}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="huge heading  dropped" style="background-image: url('{{ url_for('static', filename='img/bg.jpg') }}');">
        <h1>{{ self.title() }}</h1>
    </div>
    <div class="ui container">
        <div class="ui raised segment">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="ui warning message">
                {% for message in messages %}
                {{ message }} <br>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
<script>
    $('.ui.dropdown')
  .dropdown();
</script>
</body>
</html>