{% extends 'layout.html' %}
{% block title %} Dashboard {% endblock %}
{% block body %}
<div class="card text-black bg-light">
    <div class="card-body">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Current username</th>
                <th>Requested username</th>
                <th>Used in osu</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for request in r %}

            <tr>
                <td>{{ request.user_id }}</td>
                <td><a href="https://ripple.moe/u/{{ request.user_id }}">{{ request.username }}</a></td>
                <td>{{ request.new_username }}</td>
                <td>
                    {% if request.used == 0 %}
                    No
                    {% else %}
                    Yes
                    {% endif %}
                </td>
                <td>{{ request.date }}</td>
                <td>
                    <a href="" type="button" class="btn btn-success">Approve</a>
                    <a href="" type="button" class="btn btn-danger">Deny</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}