{% extends 'layout.html' %}
{% block title %} Manage ban appeals{% endblock %}
{% block body %}
<div class="card text-black bg-light">
    <div class="card-body">
        <table class="ui fixed table">
            <thead class="thead-dark">
            <tr>
                <th>Username</th>
                <th>Text</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for request in r %}
            <tr>
                <td><a href="https://ripple.moe/u/{{ request.user_id }}">{{ request.username }}</a></td>
                <td><a type="button" class="ui inverted blue button" href="{{ url_for('manage_read', user_id=request.user_id) }}">Read appeal</a></td>
                <td>{{ request.date }}</td>
                <td>
                    <a href="{{ url_for('api_action', action = 3, user_id = request.user_id, username = request.username) }}" type="button" class="ui inverted green button">Approve</a>
                    <a href="{{ url_for('api_action', action = 4, user_id = request.user_id, username = request.username) }}" type="button" class="ui inverted red button">Deny</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}