{% extends 'layout.html' %}
{% block title %} Manage name changes {% endblock %}
{% block body %}
<div class="card text-black bg-light">
    <div class="card-body">
        <table class="ui fixed table">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Current username</th>
                <th>Requested username</th>
                <th>Used in osu</th>
                <th>Date</th>
                <th class="three wide">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for request in r %}

            <tr>
                <td>{{ request.user_id }}</td>
                <td><a href="https://ripple.moe/u/{{ request.user_id }}">{{ request.username }}</a></td>
                <td>{{ request.new_username }}</td>
                <td>
                    {% if request.used == 0 %}
                    No
                    {% else %}
                    Yes
                    {% endif %}
                </td>
                <td>{{ request.date }}</td>
                <td>
                    <a href="{{ url_for('api_user_edit', user_id = request.user_id, username = request.new_username) }}" type="button" class="ui inverted green button">Approve</a>
                    <a href="" type="button" class="ui inverted red button">Deny</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}