{% extends 'layout.html' %}
{% block title %} Name change {% endblock %}
{% block body %}
<div class="card text-black bg-light">
    <div class="card-body">
        <form lpformnum="1" _lpchecked="1">
            <fieldset>
                <legend>Request username change</legend>
                <div class="form-group">
                    <label>What username do you want to change with:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Why do you want to change (2-4 sentences):</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="Send">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}