{% extends 'layout.html' %}
{% block title %} Name change {% endblock %}
{% block body %}
{% if db == true %}
<div class="ui error message">
    You have already submitted a name change request. You should receive a response at your email address: <b>{{ email
    }}</b>
    soon.
</div>
{% else %}
<form id="register-form" class="ui form" lpformnum="1" _lpchecked="1" role="form" method="post"
      action="{{ url_for('request_namechange') }}"
      accept-charset="UTF-8">
    <div class="field">
        <label>Username (2 to 15 characters, alphanumeric, spaces, <code>_[]-</code>)</label>
        <input type="text" name="username" class="form-control" required pattern="^[A-Za-z0-9 _\[\]-]{2,15}$">
    </div>
    <input type="submit" class="ui primary button" value="Send">
</form>
{% endif %}
{% endblock %}